
<html lang="en">
    <head>
        <%- include('../partials/head.ejs')%>
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main>
            <h1>
                Successfully Logout
            </h1>
        </main>
        <footer>
            <%- include('../partials/footer.ejs')%>
        </footer>
    
</body>
</html>