
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %>
        <link rel="stylesheet" href="public/css/logoutcss.css">
    </head>
    <body>
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main>
            <div class="containerdocker">
                <h1>
                    Successfully Logout
                </h1>
            </div>
        </main>
        <footer>
            <%- include('../partials/footer.ejs')%>
        </footer>
    
</body>
</html>