<head>
  <link rel="stylesheet" href="public/css/stylehome.css">
</head>
<div>
<nav class="navbar navbar-expand-lg logos">
    <a class="navbar-brand" href="/">
        <img src="public/images/ballonlogo.png" alt="Logo">
        <title>The Balloonatic Asylum</title>
    </a>
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
      </li>      
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacts">Contacts</a>
      </li>
    </ul>
  </nav>
  <nav class="main-nav-bar">
    <ul>
        <li><a href="productpage.html">Birthday Bouquets</a></li>
        <li><a href="productpage.html">Balloony Occasions</a></li>
        <li><a href="productpage.html">Build a Balloon Bouquet</a></li>
        <li><a href="productpage.html">Decorating with Balloons</a></li>
        <li><a href="productpage.html">Balloons in Bulk</a></li>
    </ul>
</nav>
</div>